version: "3"
services:
  hub:
    image: selenium/hub:3
    ports:
      - "4444:4444"
  chrome:
    image: selenium/node-chrome:3
    shm_size: '1gb'
    depends_on:
      - hub
    environment:
      - HUB_HOST=hub
  firefox:
    image: selenium/node-firefox:3
    shm_size: '1gb'
    depends_on:
      - hub
    environment:
      - HUB_HOST=hub
  search-module:
    image: alexeykozlov1988/selenium-grid-docker
    depends_on:
      - chrome
      - firefox
    environment:
      - HUB_HOST=hub
      - MODULE=testng.xml
    volumes:
    - /Users/alexeykozlov/Documents/draft/target/output:/usr/share/test/test-output
  test-form:
    image: alexeykozlov1988/selenium-grid-docker
    depends_on:
      - chrome
      - firefox
    environment:
      - HUB_HOST=hub
      - MODULE=testng.xml
    volumes:
      - /Users/alexeykozlov/Documents/draft/target/test-form-output:/usr/share/test/test-output
